.gradle/
build/
**/build/

local.properties

*.log

.idea/
*.iml
*.iws

*.jks
*.keystore

.externalNativeBuild/
.cxx/

captures/

*.ipr
*.iws
out/

.DS_Store
Thumbs.db
desktop.ini

*.class
*.apk
*.ap_ 
*.dex
*.tmp
*.swp
*.orig
*.bak

*.preview/

.kotlinc/
buildSrc/.gradle/

.vscode/